// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as VideoGenApi from "../../../index.js";

export declare namespace ResourcesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Discover available avatar presenters and TTS voices to use in tool requests.
 */
export class ResourcesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ResourcesClient.Options>;

    constructor(options: ResourcesClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * List all available avatar presenters. Pass an `avatarPresenterId` from the response to the avatar video endpoint.
     *
     * @param {ResourcesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.resources.listAvatarPresenters()
     */
    public listAvatarPresenters(
        requestOptions?: ResourcesClient.RequestOptions,
    ): core.HttpResponsePromise<VideoGenApi.AvatarPresenterListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listAvatarPresenters(requestOptions));
    }

    private async __listAvatarPresenters(
        requestOptions?: ResourcesClient.RequestOptions,
    ): Promise<core.WithRawResponse<VideoGenApi.AvatarPresenterListResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VideoGenEnvironment.Production,
                "v1/resources/avatar-presenters",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as VideoGenApi.AvatarPresenterListResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VideoGenError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/resources/avatar-presenters",
        );
    }

    /**
     * List all available text-to-speech voices. Pass a `voiceId` from the response to the text-to-speech endpoint.
     *
     * @param {VideoGenApi.ListTtsVoicesRequest} request
     * @param {ResourcesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.resources.listTtsVoices()
     */
    public listTtsVoices(
        request: VideoGenApi.ListTtsVoicesRequest = {},
        requestOptions?: ResourcesClient.RequestOptions,
    ): core.HttpResponsePromise<VideoGenApi.TtsVoiceListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listTtsVoices(request, requestOptions));
    }

    private async __listTtsVoices(
        request: VideoGenApi.ListTtsVoicesRequest = {},
        requestOptions?: ResourcesClient.RequestOptions,
    ): Promise<core.WithRawResponse<VideoGenApi.TtsVoiceListResponse>> {
        const { includeDeprecatedVoices } = request;
        const _queryParams: Record<string, unknown> = {
            includeDeprecatedVoices,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VideoGenEnvironment.Production,
                "v1/resources/tts-voices",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as VideoGenApi.TtsVoiceListResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VideoGenError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/resources/tts-voices");
    }
}
