// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as VideogenApi from "../../../index.js";

export declare namespace ResourcesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Static catalogues of ids you can pass to tool requests (avatar presenters, TTS voices).
 */
export class ResourcesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ResourcesClient.Options>;

    constructor(options: ResourcesClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {ResourcesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.resources.listAvatarPresenters()
     */
    public listAvatarPresenters(
        requestOptions?: ResourcesClient.RequestOptions,
    ): core.HttpResponsePromise<VideogenApi.AvatarPresenterListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listAvatarPresenters(requestOptions));
    }

    private async __listAvatarPresenters(
        requestOptions?: ResourcesClient.RequestOptions,
    ): Promise<core.WithRawResponse<VideogenApi.AvatarPresenterListResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VideogenApiEnvironment.Production,
                "v1/resources/avatar-presenters",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as VideogenApi.AvatarPresenterListResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VideogenApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/resources/avatar-presenters",
        );
    }

    /**
     * @param {ResourcesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.resources.listTtsVoices()
     */
    public listTtsVoices(
        requestOptions?: ResourcesClient.RequestOptions,
    ): core.HttpResponsePromise<VideogenApi.TtsVoiceListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listTtsVoices(requestOptions));
    }

    private async __listTtsVoices(
        requestOptions?: ResourcesClient.RequestOptions,
    ): Promise<core.WithRawResponse<VideogenApi.TtsVoiceListResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VideogenApiEnvironment.Production,
                "v1/resources/tts-voices",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as VideogenApi.TtsVoiceListResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VideogenApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/resources/tts-voices");
    }
}
