// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as VideoGenApi from "../../../index.js";

export declare namespace AssistantClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Converse with the VideoGen AI assistant inside a project. Start a chat, send messages, and act on the assistant's suggestions (pick a workflow, approve a plan, generate). Synchronous — each call returns the assistant's reply and the actions it offered.
 */
export class AssistantClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AssistantClient.Options>;

    constructor(options: AssistantClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Creates a new project and sends the first message to the VideoGen AI assistant, exactly like typing into the assistant on a new project in the app. Synchronous: the response includes the assistant's reply, any workflow suggestions it offered, and a `projectUrl` to open the project in the app. Continue the conversation with `POST /v1/assistant/chats/{projectId}/messages`.
     *
     * @param {VideoGenApi.StartAssistantChatRequest} request
     * @param {AssistantClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.assistant.startAssistantChat({
     *         message: "A 30-second explainer about our new pricing tiers"
     *     })
     */
    public startAssistantChat(
        request: VideoGenApi.StartAssistantChatRequest,
        requestOptions?: AssistantClient.RequestOptions,
    ): core.HttpResponsePromise<VideoGenApi.AssistantTurnResponse> {
        return core.HttpResponsePromise.fromPromise(this.__startAssistantChat(request, requestOptions));
    }

    private async __startAssistantChat(
        request: VideoGenApi.StartAssistantChatRequest,
        requestOptions?: AssistantClient.RequestOptions,
    ): Promise<core.WithRawResponse<VideoGenApi.AssistantTurnResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VideoGenEnvironment.Production,
                "v1/assistant/chats",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as VideoGenApi.AssistantTurnResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VideoGenError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/assistant/chats");
    }

    /**
     * Sends a follow-up message to the assistant in an existing project chat started with `POST /v1/assistant/chats`. Synchronous: the response includes the assistant's reply and any actions it offered.
     *
     * @param {VideoGenApi.SendAssistantMessageRequest} request
     * @param {AssistantClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.assistant.sendAssistantMessage({
     *         projectId: "projectId",
     *         message: "Make it more upbeat and add captions"
     *     })
     */
    public sendAssistantMessage(
        request: VideoGenApi.SendAssistantMessageRequest,
        requestOptions?: AssistantClient.RequestOptions,
    ): core.HttpResponsePromise<VideoGenApi.AssistantTurnResponse> {
        return core.HttpResponsePromise.fromPromise(this.__sendAssistantMessage(request, requestOptions));
    }

    private async __sendAssistantMessage(
        request: VideoGenApi.SendAssistantMessageRequest,
        requestOptions?: AssistantClient.RequestOptions,
    ): Promise<core.WithRawResponse<VideoGenApi.AssistantTurnResponse>> {
        const { projectId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VideoGenEnvironment.Production,
                `v1/assistant/chats/${core.url.encodePathParam(projectId)}/messages`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as VideoGenApi.AssistantTurnResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VideoGenError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/assistant/chats/{projectId}/messages",
        );
    }

    /**
     * Acts on an actionable widget the assistant offered on a prior turn. Reference the action by its `assistantActionId` from a prior `AssistantTurnResponse`. Today this accepts a workflow suggestion: `APPROVE` (the default) applies the suggested workflow and immediately starts generating — the response's `status` is `generating` and `generation` carries the run to poll — while `REJECT` returns the offering turn unchanged. Every other action has `requiresApp` set to true and can only be completed in the web app; open `projectUrl` instead.
     *
     * @param {VideoGenApi.ActOnAssistantActionRequest} request
     * @param {AssistantClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.assistant.actOnAssistantAction({
     *         projectId: "projectId",
     *         assistantActionId: "assistantActionId"
     *     })
     */
    public actOnAssistantAction(
        request: VideoGenApi.ActOnAssistantActionRequest,
        requestOptions?: AssistantClient.RequestOptions,
    ): core.HttpResponsePromise<VideoGenApi.AssistantTurnResponse> {
        return core.HttpResponsePromise.fromPromise(this.__actOnAssistantAction(request, requestOptions));
    }

    private async __actOnAssistantAction(
        request: VideoGenApi.ActOnAssistantActionRequest,
        requestOptions?: AssistantClient.RequestOptions,
    ): Promise<core.WithRawResponse<VideoGenApi.AssistantTurnResponse>> {
        const { projectId, assistantActionId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VideoGenEnvironment.Production,
                `v1/assistant/chats/${core.url.encodePathParam(projectId)}/actions/${core.url.encodePathParam(assistantActionId)}`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as VideoGenApi.AssistantTurnResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VideoGenError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/assistant/chats/{projectId}/actions/{assistantActionId}",
        );
    }
}
