// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as VideoGenApi from "../../../index.js";

export declare namespace WorkflowsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * End-to-end async video workflows. Each endpoint starts a workflow run that creates a project and generates a video.
 */
export class WorkflowsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<WorkflowsClient.Options>;

    constructor(options: WorkflowsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Creates a project and generates a narrated video from a prompt or script. Returns immediately with a workflow run id; poll or subscribe to webhooks for completion.
     *
     * @param {VideoGenApi.ScriptToVideoRequest} request
     * @param {WorkflowsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.workflows.scriptToVideo({
     *         script: "Staying hydrated keeps your body and mind running at their best. Drinking enough water boosts your energy, focus, and mood. Keep a water bottle nearby and sip throughout the day.",
     *         visualStyle: {
     *             type: "AI_IMAGE",
     *             aiStyle: "loose watercolor illustration with visible brushstrokes and soft color bleeds"
     *         },
     *         visualPacing: "MEDIUM",
     *         quality: "HIGH",
     *         remixActions: [{
     *                 type: "ENABLE_CAPTIONS",
     *                 captionStyle: {
     *                     fontName: "Inter",
     *                     fontWeight: 700,
     *                     textColor: {
     *                         red: 255,
     *                         green: 255,
     *                         blue: 255
     *                     },
     *                     verticalAlignment: "BOTTOM"
     *                 }
     *             }, {
     *                 type: "SET_BACKGROUND_MUSIC",
     *                 fileId: "vg_file_obLD1OX2eJCrEs0071Z4kA",
     *                 volume: 0.25
     *             }]
     *     })
     */
    public scriptToVideo(
        request: VideoGenApi.ScriptToVideoRequest,
        requestOptions?: WorkflowsClient.RequestOptions,
    ): core.HttpResponsePromise<VideoGenApi.StartWorkflowRunResponse> {
        return core.HttpResponsePromise.fromPromise(this.__scriptToVideo(request, requestOptions));
    }

    private async __scriptToVideo(
        request: VideoGenApi.ScriptToVideoRequest,
        requestOptions?: WorkflowsClient.RequestOptions,
    ): Promise<core.WithRawResponse<VideoGenApi.StartWorkflowRunResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VideoGenEnvironment.Production,
                "v1/workflows/script-to-video",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as VideoGenApi.StartWorkflowRunResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VideoGenError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/workflows/script-to-video",
        );
    }

    /**
     * @deprecated
     *
     * Legacy alias for `POST /v1/workflows/script-to-video`. Use that endpoint instead.
     *
     * @param {VideoGenApi.ScriptToVideoRequest} request
     * @param {WorkflowsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.workflows.addVisualsNarrationsAndCaptionsToScript({
     *         script: "script",
     *         visualStyle: {
     *             type: "STOCK"
     *         }
     *     })
     */
    public addVisualsNarrationsAndCaptionsToScript(
        request: VideoGenApi.ScriptToVideoRequest,
        requestOptions?: WorkflowsClient.RequestOptions,
    ): core.HttpResponsePromise<VideoGenApi.StartWorkflowRunResponse> {
        return core.HttpResponsePromise.fromPromise(
            this.__addVisualsNarrationsAndCaptionsToScript(request, requestOptions),
        );
    }

    private async __addVisualsNarrationsAndCaptionsToScript(
        request: VideoGenApi.ScriptToVideoRequest,
        requestOptions?: WorkflowsClient.RequestOptions,
    ): Promise<core.WithRawResponse<VideoGenApi.StartWorkflowRunResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VideoGenEnvironment.Production,
                "v1/workflows/add-visuals-narrations-and-captions-to-script",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as VideoGenApi.StartWorkflowRunResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VideoGenError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/workflows/add-visuals-narrations-and-captions-to-script",
        );
    }

    /**
     * Creates a project from an uploaded voiceover file and generates a video with matching b-roll. Upload the voiceover via the files API first.
     *
     * @param {VideoGenApi.VoiceoverToVideoRequest} request
     * @param {WorkflowsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.workflows.voiceoverToVideo({
     *         fileId: "vg_file_obLD1OX2eJCrEs0071Z4kA",
     *         visualStyle: {
     *             type: "AI_IMAGE",
     *             aiStyle: "warm cinematic photography with soft natural lighting and shallow depth of field"
     *         },
     *         quality: "HIGH",
     *         remixActions: [{
     *                 type: "SET_BACKGROUND_MUSIC",
     *                 fileId: "vg_file_mot8bV5POiscDeHyo7TF1g",
     *                 volume: 0.2
     *             }, {
     *                 type: "EDIT_WITH_AGENT",
     *                 prompt: "Replace the closing title card with \"Book a demo today\""
     *             }]
     *     })
     */
    public voiceoverToVideo(
        request: VideoGenApi.VoiceoverToVideoRequest,
        requestOptions?: WorkflowsClient.RequestOptions,
    ): core.HttpResponsePromise<VideoGenApi.StartWorkflowRunResponse> {
        return core.HttpResponsePromise.fromPromise(this.__voiceoverToVideo(request, requestOptions));
    }

    private async __voiceoverToVideo(
        request: VideoGenApi.VoiceoverToVideoRequest,
        requestOptions?: WorkflowsClient.RequestOptions,
    ): Promise<core.WithRawResponse<VideoGenApi.StartWorkflowRunResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VideoGenEnvironment.Production,
                "v1/workflows/voiceover-to-video",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as VideoGenApi.StartWorkflowRunResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VideoGenError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/workflows/voiceover-to-video",
        );
    }

    /**
     * @deprecated
     *
     * Legacy alias for `POST /v1/workflows/voiceover-to-video`. Use that endpoint instead.
     *
     * @param {VideoGenApi.VoiceoverToVideoRequest} request
     * @param {WorkflowsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.workflows.addVisualsAndCaptionsToVoiceover({
     *         fileId: "fileId",
     *         visualStyle: {
     *             type: "STOCK"
     *         }
     *     })
     */
    public addVisualsAndCaptionsToVoiceover(
        request: VideoGenApi.VoiceoverToVideoRequest,
        requestOptions?: WorkflowsClient.RequestOptions,
    ): core.HttpResponsePromise<VideoGenApi.StartWorkflowRunResponse> {
        return core.HttpResponsePromise.fromPromise(this.__addVisualsAndCaptionsToVoiceover(request, requestOptions));
    }

    private async __addVisualsAndCaptionsToVoiceover(
        request: VideoGenApi.VoiceoverToVideoRequest,
        requestOptions?: WorkflowsClient.RequestOptions,
    ): Promise<core.WithRawResponse<VideoGenApi.StartWorkflowRunResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VideoGenEnvironment.Production,
                "v1/workflows/add-visuals-and-captions-to-voiceover",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as VideoGenApi.StartWorkflowRunResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VideoGenError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/workflows/add-visuals-and-captions-to-voiceover",
        );
    }

    /**
     * Creates a project from an uploaded PDF or PowerPoint file and generates an AI-narrated video walking through each slide. Upload the file via `POST /v1/files/upload` first.
     *
     * @param {VideoGenApi.SlideshowToVideoRequest} request
     * @param {WorkflowsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.workflows.slideshowToVideo({
     *         fileId: "vg_file_obLD1OX2eJCrEs0071Z4kA",
     *         remixActions: [{
     *                 type: "ADD_TRANSITIONS",
     *                 sectionTransition: "DYNAMIC",
     *                 assetTransition: "FADE"
     *             }, {
     *                 type: "SET_BACKGROUND_MUSIC",
     *                 fileId: "vg_file_mot8bV5POiscDeHyo7TF1g",
     *                 volume: 0.2
     *             }]
     *     })
     */
    public slideshowToVideo(
        request: VideoGenApi.SlideshowToVideoRequest,
        requestOptions?: WorkflowsClient.RequestOptions,
    ): core.HttpResponsePromise<VideoGenApi.StartWorkflowRunResponse> {
        return core.HttpResponsePromise.fromPromise(this.__slideshowToVideo(request, requestOptions));
    }

    private async __slideshowToVideo(
        request: VideoGenApi.SlideshowToVideoRequest,
        requestOptions?: WorkflowsClient.RequestOptions,
    ): Promise<core.WithRawResponse<VideoGenApi.StartWorkflowRunResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VideoGenEnvironment.Production,
                "v1/workflows/slideshow-to-video",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as VideoGenApi.StartWorkflowRunResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VideoGenError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/workflows/slideshow-to-video",
        );
    }

    /**
     * @deprecated
     *
     * Legacy alias for `POST /v1/workflows/slideshow-to-video`. Use that endpoint instead.
     *
     * @param {VideoGenApi.SlideshowToVideoRequest} request
     * @param {WorkflowsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.workflows.addNarrationTransitionsAndCaptionsToSlideshow({
     *         fileId: "fileId"
     *     })
     */
    public addNarrationTransitionsAndCaptionsToSlideshow(
        request: VideoGenApi.SlideshowToVideoRequest,
        requestOptions?: WorkflowsClient.RequestOptions,
    ): core.HttpResponsePromise<VideoGenApi.StartWorkflowRunResponse> {
        return core.HttpResponsePromise.fromPromise(
            this.__addNarrationTransitionsAndCaptionsToSlideshow(request, requestOptions),
        );
    }

    private async __addNarrationTransitionsAndCaptionsToSlideshow(
        request: VideoGenApi.SlideshowToVideoRequest,
        requestOptions?: WorkflowsClient.RequestOptions,
    ): Promise<core.WithRawResponse<VideoGenApi.StartWorkflowRunResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VideoGenEnvironment.Production,
                "v1/workflows/add-narration-transitions-and-captions-to-slideshow",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as VideoGenApi.StartWorkflowRunResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VideoGenError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/workflows/add-narration-transitions-and-captions-to-slideshow",
        );
    }

    /**
     * Creates a project from an ordered list of scenes and generates one section per scene. Each scene is generated from its prompt as either a still image or a video clip; the scenes are then assembled into a single video. Returns immediately with a workflow run id; poll or subscribe to webhooks for completion.
     *
     * @param {VideoGenApi.StoryboardToVideoRequest} request
     * @param {WorkflowsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.workflows.storyboardToVideo({
     *         defaultGeneration: {
     *             type: "AI_IMAGE",
     *             aiStyle: "loose watercolor illustration with visible brushstrokes and soft color bleeds"
     *         },
     *         defaultDurationSeconds: 5,
     *         scenes: [{
     *                 prompt: "A sunrise over a calm mountain lake, mist on the water."
     *             }, {
     *                 prompt: "A hiker reaching the summit, arms raised in triumph.",
     *                 generation: {
     *                     type: "AI_VIDEO",
     *                     aiStyle: "cinematic film look with dramatic lighting and shallow depth of field"
     *                 },
     *                 durationSeconds: 6
     *             }]
     *     })
     */
    public storyboardToVideo(
        request: VideoGenApi.StoryboardToVideoRequest,
        requestOptions?: WorkflowsClient.RequestOptions,
    ): core.HttpResponsePromise<VideoGenApi.StartWorkflowRunResponse> {
        return core.HttpResponsePromise.fromPromise(this.__storyboardToVideo(request, requestOptions));
    }

    private async __storyboardToVideo(
        request: VideoGenApi.StoryboardToVideoRequest,
        requestOptions?: WorkflowsClient.RequestOptions,
    ): Promise<core.WithRawResponse<VideoGenApi.StartWorkflowRunResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VideoGenEnvironment.Production,
                "v1/workflows/storyboard-to-video",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as VideoGenApi.StartWorkflowRunResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VideoGenError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/workflows/storyboard-to-video",
        );
    }

    /**
     * @deprecated
     *
     * Legacy alias for `POST /v1/workflows/storyboard-to-video`. Use that endpoint instead.
     *
     * @param {VideoGenApi.StoryboardToVideoRequest} request
     * @param {WorkflowsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.workflows.generateScenesFromStoryboard({
     *         scenes: [{
     *                 prompt: "prompt"
     *             }]
     *     })
     */
    public generateScenesFromStoryboard(
        request: VideoGenApi.StoryboardToVideoRequest,
        requestOptions?: WorkflowsClient.RequestOptions,
    ): core.HttpResponsePromise<VideoGenApi.StartWorkflowRunResponse> {
        return core.HttpResponsePromise.fromPromise(this.__generateScenesFromStoryboard(request, requestOptions));
    }

    private async __generateScenesFromStoryboard(
        request: VideoGenApi.StoryboardToVideoRequest,
        requestOptions?: WorkflowsClient.RequestOptions,
    ): Promise<core.WithRawResponse<VideoGenApi.StartWorkflowRunResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VideoGenEnvironment.Production,
                "v1/workflows/generate-scenes-from-storyboard",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as VideoGenApi.StartWorkflowRunResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VideoGenError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/workflows/generate-scenes-from-storyboard",
        );
    }

    /**
     * @param {VideoGenApi.GetWorkflowRunRequest} request
     * @param {WorkflowsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.workflows.getWorkflowRun({
     *         workflowRunId: "vg_work_ccm3abc123defcm3xyz789ghi"
     *     })
     */
    public getWorkflowRun(
        request: VideoGenApi.GetWorkflowRunRequest,
        requestOptions?: WorkflowsClient.RequestOptions,
    ): core.HttpResponsePromise<VideoGenApi.WorkflowRun> {
        return core.HttpResponsePromise.fromPromise(this.__getWorkflowRun(request, requestOptions));
    }

    private async __getWorkflowRun(
        request: VideoGenApi.GetWorkflowRunRequest,
        requestOptions?: WorkflowsClient.RequestOptions,
    ): Promise<core.WithRawResponse<VideoGenApi.WorkflowRun>> {
        const { workflowRunId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VideoGenEnvironment.Production,
                `v1/workflows/runs/${core.url.encodePathParam(workflowRunId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as VideoGenApi.WorkflowRun, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VideoGenError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/workflows/runs/{workflowRunId}",
        );
    }

    /**
     * @param {VideoGenApi.CancelWorkflowRunRequest} request
     * @param {WorkflowsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.workflows.cancelWorkflowRun({
     *         workflowRunId: "workflowRunId"
     *     })
     */
    public cancelWorkflowRun(
        request: VideoGenApi.CancelWorkflowRunRequest,
        requestOptions?: WorkflowsClient.RequestOptions,
    ): core.HttpResponsePromise<VideoGenApi.StartWorkflowRunResponse> {
        return core.HttpResponsePromise.fromPromise(this.__cancelWorkflowRun(request, requestOptions));
    }

    private async __cancelWorkflowRun(
        request: VideoGenApi.CancelWorkflowRunRequest,
        requestOptions?: WorkflowsClient.RequestOptions,
    ): Promise<core.WithRawResponse<VideoGenApi.StartWorkflowRunResponse>> {
        const { workflowRunId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VideoGenEnvironment.Production,
                `v1/workflows/runs/${core.url.encodePathParam(workflowRunId)}/cancel`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as VideoGenApi.StartWorkflowRunResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VideoGenError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/workflows/runs/{workflowRunId}/cancel",
        );
    }
}
