// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as VideoGenApi from "../../../index.js";

export declare namespace WorkflowsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * End-to-end async video workflows. Each endpoint starts a workflow run that creates a project and generates a video.
 */
export class WorkflowsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<WorkflowsClient.Options>;

    constructor(options: WorkflowsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Creates a project and generates a narrated video from a prompt or script. Returns immediately with a workflow run id; poll or subscribe to webhooks for completion.
     *
     * @param {VideoGenApi.AddVisualsNarrationsAndCaptionsToScriptRequest} request
     * @param {WorkflowsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.workflows.addVisualsNarrationsAndCaptionsToScript({
     *         script: "script",
     *         visualStyle: {
     *             type: "STOCK"
     *         }
     *     })
     */
    public addVisualsNarrationsAndCaptionsToScript(
        request: VideoGenApi.AddVisualsNarrationsAndCaptionsToScriptRequest,
        requestOptions?: WorkflowsClient.RequestOptions,
    ): core.HttpResponsePromise<VideoGenApi.StartWorkflowRunResponse> {
        return core.HttpResponsePromise.fromPromise(
            this.__addVisualsNarrationsAndCaptionsToScript(request, requestOptions),
        );
    }

    private async __addVisualsNarrationsAndCaptionsToScript(
        request: VideoGenApi.AddVisualsNarrationsAndCaptionsToScriptRequest,
        requestOptions?: WorkflowsClient.RequestOptions,
    ): Promise<core.WithRawResponse<VideoGenApi.StartWorkflowRunResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VideoGenEnvironment.Production,
                "v1/workflows/add-visuals-narrations-and-captions-to-script",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as VideoGenApi.StartWorkflowRunResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VideoGenError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/workflows/add-visuals-narrations-and-captions-to-script",
        );
    }

    /**
     * Creates a project from an uploaded voiceover file and generates a video with matching b-roll. Upload the voiceover via the files API first.
     *
     * @param {VideoGenApi.AddVisualsAndCaptionsToVoiceoverRequest} request
     * @param {WorkflowsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.workflows.addVisualsAndCaptionsToVoiceover({
     *         fileId: "fileId",
     *         visualStyle: {
     *             type: "STOCK"
     *         }
     *     })
     */
    public addVisualsAndCaptionsToVoiceover(
        request: VideoGenApi.AddVisualsAndCaptionsToVoiceoverRequest,
        requestOptions?: WorkflowsClient.RequestOptions,
    ): core.HttpResponsePromise<VideoGenApi.StartWorkflowRunResponse> {
        return core.HttpResponsePromise.fromPromise(this.__addVisualsAndCaptionsToVoiceover(request, requestOptions));
    }

    private async __addVisualsAndCaptionsToVoiceover(
        request: VideoGenApi.AddVisualsAndCaptionsToVoiceoverRequest,
        requestOptions?: WorkflowsClient.RequestOptions,
    ): Promise<core.WithRawResponse<VideoGenApi.StartWorkflowRunResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VideoGenEnvironment.Production,
                "v1/workflows/add-visuals-and-captions-to-voiceover",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as VideoGenApi.StartWorkflowRunResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VideoGenError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/workflows/add-visuals-and-captions-to-voiceover",
        );
    }

    /**
     * Creates a project from an uploaded PDF or PowerPoint file and generates an AI-narrated video walking through each slide. Upload the file via `POST /v1/files/upload` first.
     *
     * @param {VideoGenApi.AddNarrationTransitionsAndCaptionsToSlideshowRequest} request
     * @param {WorkflowsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.workflows.addNarrationTransitionsAndCaptionsToSlideshow({
     *         fileId: "fileId"
     *     })
     */
    public addNarrationTransitionsAndCaptionsToSlideshow(
        request: VideoGenApi.AddNarrationTransitionsAndCaptionsToSlideshowRequest,
        requestOptions?: WorkflowsClient.RequestOptions,
    ): core.HttpResponsePromise<VideoGenApi.StartWorkflowRunResponse> {
        return core.HttpResponsePromise.fromPromise(
            this.__addNarrationTransitionsAndCaptionsToSlideshow(request, requestOptions),
        );
    }

    private async __addNarrationTransitionsAndCaptionsToSlideshow(
        request: VideoGenApi.AddNarrationTransitionsAndCaptionsToSlideshowRequest,
        requestOptions?: WorkflowsClient.RequestOptions,
    ): Promise<core.WithRawResponse<VideoGenApi.StartWorkflowRunResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VideoGenEnvironment.Production,
                "v1/workflows/add-narration-transitions-and-captions-to-slideshow",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as VideoGenApi.StartWorkflowRunResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VideoGenError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/workflows/add-narration-transitions-and-captions-to-slideshow",
        );
    }

    /**
     * Creates a project from an ordered list of scenes and generates one section per scene. Each scene is generated from its prompt as either a still image or a video clip; the scenes are then assembled into a single video. Returns immediately with a workflow run id; poll or subscribe to webhooks for completion.
     *
     * @param {VideoGenApi.GenerateScenesFromStoryboardRequest} request
     * @param {WorkflowsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.workflows.generateScenesFromStoryboard({
     *         scenes: [{
     *                 prompt: "prompt"
     *             }]
     *     })
     */
    public generateScenesFromStoryboard(
        request: VideoGenApi.GenerateScenesFromStoryboardRequest,
        requestOptions?: WorkflowsClient.RequestOptions,
    ): core.HttpResponsePromise<VideoGenApi.StartWorkflowRunResponse> {
        return core.HttpResponsePromise.fromPromise(this.__generateScenesFromStoryboard(request, requestOptions));
    }

    private async __generateScenesFromStoryboard(
        request: VideoGenApi.GenerateScenesFromStoryboardRequest,
        requestOptions?: WorkflowsClient.RequestOptions,
    ): Promise<core.WithRawResponse<VideoGenApi.StartWorkflowRunResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VideoGenEnvironment.Production,
                "v1/workflows/generate-scenes-from-storyboard",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as VideoGenApi.StartWorkflowRunResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VideoGenError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/workflows/generate-scenes-from-storyboard",
        );
    }

    /**
     * @param {VideoGenApi.GetWorkflowRunRequest} request
     * @param {WorkflowsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.workflows.getWorkflowRun({
     *         workflowRunId: "workflowRunId"
     *     })
     */
    public getWorkflowRun(
        request: VideoGenApi.GetWorkflowRunRequest,
        requestOptions?: WorkflowsClient.RequestOptions,
    ): core.HttpResponsePromise<VideoGenApi.WorkflowRun> {
        return core.HttpResponsePromise.fromPromise(this.__getWorkflowRun(request, requestOptions));
    }

    private async __getWorkflowRun(
        request: VideoGenApi.GetWorkflowRunRequest,
        requestOptions?: WorkflowsClient.RequestOptions,
    ): Promise<core.WithRawResponse<VideoGenApi.WorkflowRun>> {
        const { workflowRunId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VideoGenEnvironment.Production,
                `v1/workflows/runs/${core.url.encodePathParam(workflowRunId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as VideoGenApi.WorkflowRun, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VideoGenError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/workflows/runs/{workflowRunId}",
        );
    }

    /**
     * @param {VideoGenApi.CancelWorkflowRunRequest} request
     * @param {WorkflowsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.workflows.cancelWorkflowRun({
     *         workflowRunId: "workflowRunId"
     *     })
     */
    public cancelWorkflowRun(
        request: VideoGenApi.CancelWorkflowRunRequest,
        requestOptions?: WorkflowsClient.RequestOptions,
    ): core.HttpResponsePromise<VideoGenApi.StartWorkflowRunResponse> {
        return core.HttpResponsePromise.fromPromise(this.__cancelWorkflowRun(request, requestOptions));
    }

    private async __cancelWorkflowRun(
        request: VideoGenApi.CancelWorkflowRunRequest,
        requestOptions?: WorkflowsClient.RequestOptions,
    ): Promise<core.WithRawResponse<VideoGenApi.StartWorkflowRunResponse>> {
        const { workflowRunId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VideoGenEnvironment.Production,
                `v1/workflows/runs/${core.url.encodePathParam(workflowRunId)}/cancel`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as VideoGenApi.StartWorkflowRunResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VideoGenError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/workflows/runs/{workflowRunId}/cancel",
        );
    }
}
