// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as VideoGenApi from "../../../index.js";

export declare namespace ProjectsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Read project metadata and status.
 */
export class ProjectsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ProjectsClient.Options>;

    constructor(options: ProjectsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns projects, most recently updated first. By default only API-created projects are included; pass `includeUiProjects=true` to also include dashboard-created projects. Use `selfOnly=true` to restrict results to the calling API key's user; otherwise all matching projects for the team are returned. Cursor-paginated; see the [Pagination](/pagination) guide.
     *
     * @param {VideoGenApi.ListProjectsRequest} request
     * @param {ProjectsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.projects.listProjects()
     */
    public listProjects(
        request: VideoGenApi.ListProjectsRequest = {},
        requestOptions?: ProjectsClient.RequestOptions,
    ): core.HttpResponsePromise<VideoGenApi.ListProjectsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listProjects(request, requestOptions));
    }

    private async __listProjects(
        request: VideoGenApi.ListProjectsRequest = {},
        requestOptions?: ProjectsClient.RequestOptions,
    ): Promise<core.WithRawResponse<VideoGenApi.ListProjectsResponse>> {
        const { limit, cursor, selfOnly, includeUiProjects } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            cursor,
            selfOnly,
            includeUiProjects,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VideoGenEnvironment.Production,
                "v1/projects",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as VideoGenApi.ListProjectsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VideoGenError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/projects");
    }

    /**
     * Returns a simplified view of a project including its title, aspect ratio, status, and URL.
     *
     * @param {VideoGenApi.GetProjectRequest} request
     * @param {ProjectsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.projects.getProject({
     *         projectId: "1f0a2b3c-4d5e-6789-ab12-cdef34567890"
     *     })
     */
    public getProject(
        request: VideoGenApi.GetProjectRequest,
        requestOptions?: ProjectsClient.RequestOptions,
    ): core.HttpResponsePromise<VideoGenApi.ProjectResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getProject(request, requestOptions));
    }

    private async __getProject(
        request: VideoGenApi.GetProjectRequest,
        requestOptions?: ProjectsClient.RequestOptions,
    ): Promise<core.WithRawResponse<VideoGenApi.ProjectResponse>> {
        const { projectId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VideoGenEnvironment.Production,
                `v1/projects/${core.url.encodePathParam(projectId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as VideoGenApi.ProjectResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VideoGenError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/projects/{projectId}");
    }

    /**
     * Starts an export of a project to MP4. Returns immediately with an export id; the file becomes available when the export task completes.
     *
     * @param {VideoGenApi.ExportProjectRequest} request
     * @param {ProjectsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.projects.exportProject({
     *         projectId: "1f0a2b3c-4d5e-6789-ab12-cdef34567890",
     *         quality: "FULL_HIGH"
     *     })
     */
    public exportProject(
        request: VideoGenApi.ExportProjectRequest,
        requestOptions?: ProjectsClient.RequestOptions,
    ): core.HttpResponsePromise<VideoGenApi.ExportProjectResponse> {
        return core.HttpResponsePromise.fromPromise(this.__exportProject(request, requestOptions));
    }

    private async __exportProject(
        request: VideoGenApi.ExportProjectRequest,
        requestOptions?: ProjectsClient.RequestOptions,
    ): Promise<core.WithRawResponse<VideoGenApi.ExportProjectResponse>> {
        const { projectId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VideoGenEnvironment.Production,
                `v1/projects/${core.url.encodePathParam(projectId)}/export`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as VideoGenApi.ExportProjectResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VideoGenError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/projects/{projectId}/export",
        );
    }

    /**
     * Returns the current status of a project export started via `POST /v1/projects/{projectId}/export`.
     *
     * @param {VideoGenApi.GetProjectExportRequest} request
     * @param {ProjectsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.projects.getProjectExport({
     *         projectId: "1f0a2b3c-4d5e-6789-ab12-cdef34567890",
     *         exportId: "2a1b3c4d-5e6f-7890-ab12-cdef34567890"
     *     })
     */
    public getProjectExport(
        request: VideoGenApi.GetProjectExportRequest,
        requestOptions?: ProjectsClient.RequestOptions,
    ): core.HttpResponsePromise<VideoGenApi.ProjectExport> {
        return core.HttpResponsePromise.fromPromise(this.__getProjectExport(request, requestOptions));
    }

    private async __getProjectExport(
        request: VideoGenApi.GetProjectExportRequest,
        requestOptions?: ProjectsClient.RequestOptions,
    ): Promise<core.WithRawResponse<VideoGenApi.ProjectExport>> {
        const { projectId, exportId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VideoGenEnvironment.Production,
                `v1/projects/${core.url.encodePathParam(projectId)}/exports/${core.url.encodePathParam(exportId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as VideoGenApi.ProjectExport, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VideoGenError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/projects/{projectId}/exports/{exportId}",
        );
    }

    /**
     * Applies an ordered list of edits (background music, logo overlay, caption visibility/style) to a project. Each action runs asynchronously as its own remix action; the response returns one remix action id per action in order. Set `saveAsNewProject` to apply the edits to a copy and leave the original untouched. Poll `GET /v1/projects/{projectId}/remix-actions` for status.
     *
     * @param {VideoGenApi.RemixProjectRequest} request
     * @param {ProjectsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.projects.remixProject({
     *         projectId: "projectId",
     *         remixActions: [{
     *                 type: "SET_BACKGROUND_MUSIC"
     *             }]
     *     })
     */
    public remixProject(
        request: VideoGenApi.RemixProjectRequest,
        requestOptions?: ProjectsClient.RequestOptions,
    ): core.HttpResponsePromise<VideoGenApi.RemixProjectResponse> {
        return core.HttpResponsePromise.fromPromise(this.__remixProject(request, requestOptions));
    }

    private async __remixProject(
        request: VideoGenApi.RemixProjectRequest,
        requestOptions?: ProjectsClient.RequestOptions,
    ): Promise<core.WithRawResponse<VideoGenApi.RemixProjectResponse>> {
        const { projectId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VideoGenEnvironment.Production,
                `v1/projects/${core.url.encodePathParam(projectId)}/remix`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as VideoGenApi.RemixProjectResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VideoGenError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/projects/{projectId}/remix",
        );
    }

    /**
     * Returns every remix action applied to a project (via `POST /v1/projects/{projectId}/remix` or as a post-workflow step), most recent first, with each action's status and progress.
     *
     * @param {VideoGenApi.ListProjectRemixActionsRequest} request
     * @param {ProjectsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.projects.listProjectRemixActions({
     *         projectId: "projectId"
     *     })
     */
    public listProjectRemixActions(
        request: VideoGenApi.ListProjectRemixActionsRequest,
        requestOptions?: ProjectsClient.RequestOptions,
    ): core.HttpResponsePromise<VideoGenApi.ListRemixActionsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listProjectRemixActions(request, requestOptions));
    }

    private async __listProjectRemixActions(
        request: VideoGenApi.ListProjectRemixActionsRequest,
        requestOptions?: ProjectsClient.RequestOptions,
    ): Promise<core.WithRawResponse<VideoGenApi.ListRemixActionsResponse>> {
        const { projectId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.VideoGenEnvironment.Production,
                `v1/projects/${core.url.encodePathParam(projectId)}/remix-actions`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as VideoGenApi.ListRemixActionsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.VideoGenError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/projects/{projectId}/remix-actions",
        );
    }
}
